@model TrainProject.Models.Tau

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Tau</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenTau)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenTau)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoToa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoToa)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaTau }) |
    @Html.ActionLink("Back to List", "Index")
</p>
