@model TrainProject.Models.Toa

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Toa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SoGhe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoGhe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoaiGhe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoaiGhe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tau.TenTau)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tau.TenTau)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaToa }) |
    @Html.ActionLink("Back to List", "Index")
</p>
