@model IEnumerable<TrainProject.Models.Toa>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "ThemToa")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MaToa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoGhe)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LoaiGhe)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tau.TenTau)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr><td>
            @Html.DisplayFor(modelItem => item.MaToa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoGhe)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LoaiGhe)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tau.TenTau)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaToa }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaToa }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaToa })
        </td>
    </tr>
}

</table>
